body{
  text-align: center;
  background-image: url('mountain.jpg');
  background-size: 100%;
  padding: 20%;
  font-size: 30px;
}
.box{
  background-color: #00000066;
  border-radius: 1%;
  color: white;
  padding: 1%;
}
.inpt{
  border-radius: 5%;
  background-color: white;
  max-width: 100%;
  font-size: 25px;
}
.inpt:hover{
  background-color: black;
  color: white;
}
.btn{
  border-radius: 20%;
  background-color: black;
  color: aliceblue;
  font-size: 25px;
}

h1{
  font-size: 70px;
}
